:root {
    --bg-0: #101010;
    --bg-1: #404040;
    --bg-2: #404040;
    --bg-3: #404040;
    --bg-4: #E2FFE9;
    --text-0: #f0f0f0;
    --text-1: #dcdcdc;
    --text-2: #dcdcdc;
    --text-3: #dcdcdc;
    --text-4: #E2FFE9;
    --color-0: #ffa116;
    --color-1: #5cb85c;
    --color-2: #f0ad4e;
    --color-3: #d9534f;
    --color-4: #2F8D46;
}