:root {
    --bg-0: #fff;
    --bg-1: #e5e5e5;
    --bg-2: #d3d3d3;
    --bg-3: #d3d3d3;
    --bg-4: #E2FFE9;
    --text-0: #000;
    --text-1: #808080;
    --text-2: #808080;
    --text-3: #808080;
    --text-4: #aac2b0;
    --color-0: #ffa116;
    --color-1: #5cb85c;
    --color-2: #f0ad4e;
    --color-3: #d9534f;
    --color-4: #2F8D46;
}