.dark-theme {
    --bg-color: #121212;
    --color: #fff;
    --card-bg-color: #1f1f1f;
    --h1-font-color: #fff;
    --input-bg-color: #2c2c2c;
    --input-color: #fff;
    --input-border-color: #444;
    --toggle-bg-color: #ccc;
    --toggle-slider-bg-color: #444;
    --preview-pre-bg-color: #2c2c2c;
    --preview-pre-color: #fff;
    --loader-bg-color: rgba(255, 255, 255, 0.3);
}

.light-theme {
    --bg-color: #f5f5f5;
    --color: #333;
    --card-bg-color: #ffffff;
    --h1-font-color: #333;
    --input-bg-color: #ffffff;
    --input-color: #000;
    --input-border-color: #f3f3f3;
    --toggle-bg-color: #555;
    --toggle-slider-bg-color: #ddd;
    --preview-pre-bg-color: #f8f9fa;
    --preview-pre-color: #333;
    --loader-bg-color: rgba(0, 0, 0, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--bg-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: var(--color);
    position: relative;
}

.card {
    width: 100%;
    max-width: 500px;
    padding: 30px;
    background-color: var(--card-bg-color);
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

h1 {
    font-size: 2.2rem;
    color: var(--h1-font-color);
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    font-weight: 700;
}

input,
select {
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    border: 1px solid var(--input-border-color);
    border-radius: 8px;
    font-size: 16px;
    background-color: var(--input-bg-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    color: var(--input-color);
}

:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.toggle-switch {
    display: flex;
    align-items: center;
    margin: 12px 0;
    font-size: 14px;
    color: var(--toggle-bg-color);
    cursor: pointer;
    justify-content: center;
    pointer-events: none;
}

.toggle-switch input {
    display: none;
}

.toggle-slider {
    position: relative;
    width: 50px;
    height: 24px;
    margin-right: 10px;
    background-color: var(--toggle-slider-bg-color);
    border-radius: 12px;
    transition: 0.3s;
    pointer-events: auto;
}

.toggle-switch span {
    pointer-events: auto;
}

.toggle-slider:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.toggle-switch input:checked+.toggle-slider {
    background-color: #007bff;
}

.toggle-switch input:checked+.toggle-slider:before {
    transform: translateX(26px);
}

button {
    padding: 12px;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    transform: translateY(2px);
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

#preview {
    width: 100%;
    min-width: 400px;
    margin-top: 30px;
    text-align: center;
}

#preview>img {
    max-width: 100%;
    border-radius: 8px;
}

#preview>pre {
    text-align: left;
    background-color: var(--preview-pre-bg-color);
    padding: 15px;
    border-radius: 8px;
    overflow-x: auto;
    color: var(--preview-pre-color);
}

#preview .loader {
    border: 5px solid var(--loader-bg-color);
    border-top: 5px solid var(--color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 120px auto;
    display: block;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

a {
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
    margin-top: 20px;
    display: flex;
    align-items: center;
}


a span:hover {
    text-decoration: underline;
}

a img {
    margin-right: 8px;
}

a span {
    margin-left: 5px;
}

a svg {
    color: var(--color);
}


.theme-toggle-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
    transition: color 0.3s;
}

.theme-toggle-icon:hover {
    color: #f39c12;
}

@media (max-width: 600px) {
    .button-container {
        flex-direction: column;
        gap: 10px;
    }

    #preview {
        min-width: 0px;
    }

    #preview .loader {
        margin: 75px auto;
    }

    .theme-toggle-icon {
        font-size: 20px;
    }

    input,
    select,
    button {
        font-size: 14px;
    }
}