 /* General Styling */
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 html,
 body {
     font-family: 'Roboto', sans-serif;
     background: linear-gradient(135deg, #e8f1f5, #d0e3f0);
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding: 20px;
 }

 h1 {
     font-size: 2rem;
     color: #333;
     margin-bottom: 16px;
 }

 input,
 select {
     width: 100%;
     padding: 10px;
     margin: 10px 0;
     border: 1px solid #ddd;
     border-radius: 8px;
     font-size: 16px;
     background-color: #fff;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 }

 .toggle-switch {
     display: flex;
     align-items: center;
     margin: 10px 0;
     font-size: 14px;
     color: #555;
     cursor: pointer;
 }

 .toggle-switch input {
     display: none;
 }

 .toggle-slider {
     position: relative;
     width: 50px;
     height: 24px;
     margin-right: 10px;
     background-color: #ddd;
     border-radius: 12px;
     transition: 0.3s;
 }

 .toggle-slider:before {
     content: "";
     position: absolute;
     width: 20px;
     height: 20px;
     background: white;
     border-radius: 50%;
     top: 2px;
     left: 2px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
     transition: 0.3s;
 }

 .toggle-switch input:checked+.toggle-slider {
     background-color: #007bff;
 }

 .toggle-switch input:checked+.toggle-slider:before {
     transform: translateX(26px);
 }

 button {
     padding: 12px;
     font-size: 16px;
     font-weight: 500;
     width: 100%;
     color: white;
     background-color: #007bff;
     border: none;
     border-radius: 8px;
     cursor: pointer;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
     transition: background-color 0.3s, transform 0.2s;
 }

 button:hover {
     background-color: #0056b3;
     /* transform: translateY(-2px); */
 }

 button:active {
     transform: translateY(-2px);
 }

 .button-container {
     display: flex;
     margin-top: 10px;
     justify-content: center;
     gap: 10px;
     width: 100%;
 }

 #preview {
     width: 100%;
     min-width: 500px;
     margin-top: 20px;
     text-align: center;
 }

 img {
     max-width: 100%;
     border-radius: 8px;
 }

 pre {
     text-align: left;
     background-color: #f8f9fa;
     padding: 12px;
     border-radius: 8px;
     overflow-x: auto;
     color: #333;
 }

 a {
     color: #007bff;
     text-decoration: none;
     font-weight: 500;
     margin-top: 20px;
 }

 a:hover {
     text-decoration: underline;
 }

 @media (max-width: 600px) {
     .button-container {
         flex-direction: column;
         gap: 10px;
     }

     #preview {
         min-width: 0px;
     }
 }